<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UHD_Learn_AT.Properties.Settings.UHD_LearnConnectionString"
            connectionString="Data Source=ASUSVIVOBOOK\SQLEXPRESS;Initial Catalog=UHD_Learn;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>